@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'DmSans';
  font-weight: 300;
  src: url('~assets/fonts/DMSans-Regular.ttf') format('truetype');
}


